    <div class="evento">
     <div class="cabecalho">
    <span [ngClass]="verificaNome()">Evento: {{ evento.nomeDoEvento }}</span>

      <div class="botoes">
         <button class="botao" (click)="editarEvento(evento.id!)"><img src="/icone-editar.png" alt="Icone de editar evento" class="icon"></button>
       <button class="botao"  [routerLink]="['/excluirEvento', evento.id]"><img src="/icone-excluir.png" alt="Icone de excluir evento" class="icon"></button>
      </div>

     </div>
      <div class="qtd-horario" >
         <span  [appEventColor]="evento.nome">Responsável: {{ evento.nome.toUpperCase() }}</span>
        <label class="qtd" [appDestaqueValores]="evento.totalParticipantes"
          >participantes: {{ evento.totalParticipantes }}</label
        >
        <div class="data">
          <span>Data: {{ evento.dataEvento }}</span>
          <span class="horario"
            >horario: {{ evento.horaEvento }}
            <img src="relogio.png" alt="" class="relogio"
          /></span>
        </div>
      </div>
      @if (evento.cidade && evento.endereco) {
        <div class="cidade-endereco">
          <span class="tipo" [appDestaqueTextos]="evento.tipoEvento"
            > Evento:{{ evento.tipoEvento }}</span
          >
          <div class="endereco-evento">
            <span [appColorAdress]="evento.cidade">Cidade: {{ evento.cidade }}</span>
            <span [appColorAdress]="evento.endereco">Endereço: {{ evento.endereco }}</span>
            <span>Descrição: {{ evento.descricao }}</span>
          </div>
        </div>
      } @else {
        <div class="online">
          <span class="evento-online">Evento Online</span>
          <span
            class="margem-top">Link do evento: <a href="#">{{ evento.link }}</a></span
          >
        </div>
      }
    </div>

